*

!/.gitignore

!/null.png

!/material-design-icons/LICENSE
!/material-design-icons/README.md
!/material-design-icons/package.json
!/material-design-icons/av/drawable-xxxhdpi/ic_fiber_new_black_18dp.png
!/material-design-icons/navigation/drawable-xxxhdpi/ic_close_black_18dp.png
!/material-design-icons/av/drawable-xxxhdpi/ic_playlist_add_black_18dp.png
!/material-design-icons/action/drawable-xxxhdpi/ic_delete_black_18dp.png
!/material-design-icons/hardware/drawable-xxxhdpi/ic_keyboard_arrow_down_black_18dp.png
!/material-design-icons/hardware/drawable-xxxhdpi/ic_keyboard_arrow_right_black_18dp.png
!/material-design-icons/action/drawable-xxxhdpi/ic_note_add_black_18dp.png
!/material-design-icons/file/drawable-xxxhdpi/ic_create_new_folder_black_18dp.png
!/material-design-icons/file/drawable-xxxhdpi/ic_folder_black_18dp.png
!/material-design-icons/content/drawable-xxxhdpi/ic_save_black_18dp.png
!/material-design-icons/action/drawable-xxxhdpi/ic_open_in_browser_black_18dp.png

!/a-file-icon/LICENSE.md
!/a-file-icon/README.md
!/a-file-icon/package.json
!/a-file-icon/icons/multi/*
/a-file-icon/icons/multi/*@?x.png

!*/
